<%- include("partials/menu") %>

<h1>Página de Pregões</h1>
<p>Lista de pregões do sistema.</p>


<a href="/">Voltar para Home</a>

<h2>Novo Pregão</h2>

<form action="/pregoes" method="POST">
  <input type="text" name="titulo" placeholder="Título" required>

  <input type="text" name="orgao" placeholder="Órgão" required>

  <input type="number" name="valor" placeholder="Valor" required>

  <button type="submit">Salvar</button>
</form>

<h2>Lista de Pregões</h2>

<ul>
  <% pregoes.forEach(function(pregao) { %>
    <li><%= pregao.titulo %></li>
  <% }) %>
</ul>